@use "../../themes/typography" as typography;

.infoContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  align-items: center;
  text-align: center;
  @media only screen and (max-width: 650px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.imageContainer {
  margin: 0 60px;
  border-radius: 5%;
  box-shadow: 3px 0 5px 4px typography.$box-shadow-1;
}

.imageContainer div {
  display: block !important;
}

.actorMovieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.actorInfo {
  max-width: 70%;
  line-height: 25px;
}

.sortOptions {
  display: flex;
  justify-content: space-evenly;
  @media only screen and (max-width: 650px) {
    font-size: 12px;
    text-align: center;
    flex-direction: column;
  }
}

.sortOptions h1:not(:first-child) {
  cursor: pointer;
  color: typography.$primary-colour-2;
}
