@use "src/themes/_typography.scss" as typography;

.personContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  margin: 10px 0;
}

.personNames p {
  margin: 0;
}

.personContainerSearch {
  text-align: center;
  padding: 0 5px;
  margin-bottom: 20px;
  position: relative;
}

.personImageContainer > div {
  border-radius: 5%;
  box-shadow: 3px 0 5px 4px typography.$box-shadow-1;
}

@media (max-width: 600px) {
  .personContainer {
    width: 50%;
  }
}
