.personContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  margin: 10px 0;
}

.personNames p {
  margin: 0;
}

.personImageContainer > div {
  border-radius: 5%;
  box-shadow:         3px 0 5px 4px #ccc;

}

@media (max-width: 600px) {
  .personContainer {
    width: 50%;
  }
}
