@use "../themes/typography" as typography;

.movieCard {
  text-align: center;
  padding: 0 5px;
  position: relative;
}

.movieTitle {
  max-width: 300px;
  display: inline-block;
}

.movieCardImage {
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px typography.$box-shadow-1;
}

.releaseYear {
  font-size: 12px;
}

.movieCardImage div {
  display: block !important;
}
