@use "../../themes/typography" as typography;

.intro {
  color: typography.$primary-colour-1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;

  .introInfo {
    text-align: center;
    max-width: 70%;
    padding: 20px;
  }
}

.seasonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}