@use "src/themes/_typography.scss" as typography;

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.moviesNavigation {
  color: typography.$primary-colour-2;
  display: flex;
  justify-content: space-around;
}

.refresh {
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  border: 3px solid black;
  background: rgba(255,255,255,0.5);
  display: inline-block;
  border-radius: 5px;
  padding: 12px 20%;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
  position: sticky;
  cursor: pointer;
  z-index: 200;
  top: 75px;
}

.mainContainer {
  text-align: center;
}