@import "src/themes/_typography.scss";

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.downloadContainer {
  text-align: center;
  @media only screen and (max-width: 650px) {
    margin: 0 20px;
  }
}

.downloadText {
  cursor: pointer;
  margin: 0 0 20px 0;
  border-radius: 5px;
  padding: 10px 120px;
  display: inline-block;
  border: 3px solid black;
  @media only screen and (max-width: 650px) {
    padding: 10px 30px;
  }
}

.watchedFilter {
  display: flex;
  font-size: 20px;
  padding-bottom: 15px;
  color: $primary-colour-2;
  justify-content: space-evenly;
}

.watchedFilter > span:nth-child(odd) {
  cursor: pointer;
  user-select: none;
}

.active {
  color: $primary-colour-1;
  text-decoration: underline double;
}
