@use "../../themes/typography" as typography;

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.downloadContainer {
  text-align: center;
  @media only screen and (max-width: 650px) {
    margin: 0 20px;
  }
}

.downloadText {
  h1 {
    cursor: pointer;
    margin: 5px 0px;
  }
  margin: 0 0 20px 0;
  border-radius: 5px;
  padding: 10px 120px;
  display: inline-block;
  border: 3px solid black;
  @media only screen and (max-width: 650px) {
    padding: 10px 30px;
  }
}

.favSearch {
  border: none;
  border-bottom: typography.$primary-colour-1 1px solid;

  &:focus {
    outline: none;
    border-bottom: typography.$green-1 1px solid;
  }
}

.watchedFilter {
  display: flex;
  font-size: 20px;
  padding-bottom: 15px;
  color: typography.$primary-colour-2;
  justify-content: space-evenly;
}

.active {
  color: typography.$primary-colour-1;
  text-decoration: underline double;
}
